// ==========================================================================
// Buttons
// ==========================================================================

.btn {
  @include ui-colors($ui-colors);
}

[class^="btn--"] {
  @extend %btn;
  @extend %center-align;
  margin-bottom: em(20px, 14px); 
  @include mq(small) {
  	width: 100%;
  }
  @include mq(medium) {
    width: auto;
    display: inline-block;
		@include doubly(20px);
  }
}

