// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items

%nav-item-horz {
  @include mq(medium) {
    display: inline-block;
    margin: 0 em(10px);
  }
}
%nav-item-link {
  font-weight: $font-weight--light;
  text-align: center;
  font-size: em(18px);
  display: block;
  padding: em(8px, 20px);
  border-bottom: 1px solid transparent;
  @include mq(small) {
    border-bottom-color: palette(grey, xx-light);
    padding-top: em(14px, 18px);
    padding-bottom: em(14px, 18px);
  }
}
%nav-item-on {
  color: palette(black);
  border-color: $color-primary;
}

// Headlines

%hdln-prim {
  color: palette(grey, x-dark);
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px/42px);
  margin-top: 0;
}

%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(24px);
  font-family: $font-family--secondary;
}

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Menu link

%menu-link {
  display: block;
  padding-top: em(16px);
  padding-bottom: em(16px);
  color: $white;
  text-align: center;
  text-shadow: 0 1px $color-shadow;
  font-size: em(18px);
}

// Icons

%icn--ui {
	line-height: 0;
	cursor: pointer;
}