// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	@include img-replace("logo.svg", 115px, 45px, inline-block);
}

// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		@include p-el(before, 25px, 3px) {
			background: palette(grey, light);
			top: 4px;
		}
	}

	// Close
	@include m(close) {
		@extend %icn--ui;
		@include img-replace("icn-close.svg", 20px, 20px); 
		position: absolute;
		right: 4%;
		top: 4%;
	}
}